* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: "Roboto", sans-serif;
}

.secOne {
    padding: 16px 60px;
    background: #010D14;
}
.secOne_contact {
    max-width: 1250px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
}

.mail {
    color: #FFFFFF;
    text-decoration: none;
    margin-right: 20px;
}

.iconMail {
    font-size: 15px;
    margin-right: 10PX;
}

.iconCall {
    margin-left: 20PX;
    margin-right: 10PX;
}

/* toolbar end */

 /* Section second navbar starts */

.secTwo {
    padding: 16px 60px;
}

.nav {
    align-items: center;
    max-width: 1250px;
    display: flex;
}

.mainLogo {
    max-height: 80px;
}

section nav ul.mainMenu {
    width: 60%;
    display: flex;
    list-style: none;
    justify-content: space-between;
}

section nav ul.mainMenu li a {
    color: #010d14;
    font-weight: 500;
    font-family: Roboto;
    font-size: 16px;
}

section nav ul.mainMenu li a:hover {
    color: #11198D;
}

.mainMenuItems {
    float: left;
    padding-left: 20px;
    position: relative;
    /* border: 2px solid green; */
}

/* .mainMenuItems:hover a{
    color: #11198D;
} */

.all_dropdown {
    background-color: red;
    position: absolute;
    left: 0%;
    width: 140px;
    top: 100%;
    display: none;
}

.subDropdown {
    padding: 10px; 
}

.collageLi:hover .all_dropdown{
    display: block;
}

.staffLi:hover .all_dropdown{
    display: block;
}

.studentLi:hover .all_dropdown{
    display: block;
}

.LiBox {margin-left: 5px;
    color: #010D14;
    width: 270px;
    font-size: 13px;
    background: #ffb703;
    text-align: center;
    align-items: center;
    display: flex;
    height: 50px;
    justify-content: center;
}

.LiBox:hover{
    background: #010D14;
    color: #FFFFFF;
}

.LiBox a {
    color: #010D14;
}

/* Section second -> navbar end */


/* <!-- section Three starts --> */

.carousel_WtNew_Section {
    position: relative;
    display: flex;
    padding: 10px;
    width: 1349px;
    background-color: #F0F0F0;
    min-height: 100vh;
    z-index: -1;
}

/* .carousel_WtNew_Sec {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ede6d6;
} */

.slide_container {
    position: relative;
    width: 940px;
    height: 390px;
    margin-top: 10px;
    /* border: 3px solid #efefef; */
    /* box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.2); */
}

.slide_container .slides {
    width: 100%;
    height: calc(100% - 40px);
    position: relative;
    overflow: hidden;
}

.slide_container .slides .crsl_img{
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
}

.slide_container .slides .crsl_img:not(.active) {
    top: 0;
    left: -100%;
}

.buttons span.next, span.prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 14px;
    color: #eee;
    font-size: 24px;
    font-weight: bold;
    transition: 0.5s;
    border-radius: 3px;
    user-select: none;
    cursor: pointer;
    z-index: 1;
}

.buttons span.next {
    right: 20px;
}

.buttons span.prev {
    left: 20px;
}

.buttons span.next:hover, span.prev:hover {
    background-color: #ede6d6;
    opacity: 0.8;
    color: #222;
}

@keyframes next1 {
    from{
        left: 0%;
    }
    to{
        left: -100%;
    }
}

@keyframes next2 {
    from{
        left: 100%;
    }
    to{
        left: 0%;
    }
}

@keyframes prev1 {
    from{
        left: 0%;
    }
    to{
        left: 100%;
    }
}

@keyframes prev2 {
    from{
        left: -100%;
    }
    to{
        left: 0%;
    }
}


.WtNew {
    background-color: #002873;
    height: 100%;
    width: 30%;
    padding: 10px;
    margin-left: 10px;
}

.WtNew h1 {
    text-align: center;
    color: #F4F4F4;
    font-size: 20px;
    font-weight: 600;
}

.WtNew div{
    margin: 20px 0px 40px 0px;
}

.WtNew div a{
    color: #fff;
    background-color: transparent;
    font-size: 15px;
    line-height: 1.5;
}

.ukGovImg {
    vertical-align: middle;
    display: inline-block;
    max-width: 100%;
}

/* <!-- section Three End --> */

/* <!-- section Four starts --> */

    .noticeBoardSec {
        max-width: 1349px;
        display: flex;
    text-align: center;
    justify-content: space-between;
    }

    .noticeBoardSec .NB{
        width: 200px;
        height: 50px;
        color: #FFFFFF;
        background-color: #0E0975;
        padding: 10px;
    }

    .allNotices {
        align-self: center;
    /* display: flex;
    text-align: center; */
    }

    .allNotices a {
        color: #010d14;
    }

    .allNotices a {
        color: #010d14;
    }

    .allNotices a:hover{
        color: #fcb900;
    }

/* <!-- section Four End --> */


/* <!-- section five starts --> */

.secFive {
    max-width: 1140px;
    height: 115vh;
    margin: auto;
}

    .welcomeNote {
        display: flex;
        /* margin: 40px 0 0 70px; */
        padding: 40px 0 0 70px;
        justify-content: space-between;
    }

    .welcomeNote_theory {
        width: 67.104%;
    }

    .secFive .welcomeNote .welcomeNote_theory h1 {
        font-size: 28px;
        font-weight: 700;
        margin-bottom: 20px;
    }

    .secFive .welcomeNote .welcomeNote_theory .welcomeNote_summary {
        color: #333333;
        font-size: 15px;
        font-weight: 400;
        line-height: 1.6;
        width: 91%;
    }

    .img_principle {
        text-align: center;
        background-color: #EFEFEF;
        flex: auto;
    }

    .img_principle img {
        margin-top: 10px;
        width: 157px;
        height: 185px;
        border: 4px solid #e3e3e3;
    }

    .img_principle .Princi_name {
        font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    font-family: Playfair Display;
    }

    .Princi_designetion {
        margin-top: 30px;
        font-size: 15px;
        padding-bottom: 60px;
    }

/* <!-- section five End --> */

/* <!-- section Six starts --> */

.secSix {
    background-image: url(/imgs/bg_sec_6.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* <!-- section Six End --> */